body{
    background-color: rgb(247, 245, 229);
    /* background: rgb(255,131,63);
    background: linear-gradient(90deg, rgba(255,131,63,1) 1%, rgba(58,162,180,1) 35%, rgba(194,29,253,1) 100%);  */
}

#name_header{
    margin-left: 2.5rem;
}

.btn{
    background-color: rgb(255, 139, 31);
    color: rgb(255, 139, 31);
}

.name_span{
    color: rgb(255, 139, 31);

}

.info_span{
    color: #25a9d1;
}

.me1{
    width: 145px;
    margin-right: 20rem;
    margin-top: 2rem;

}


#about_me_container{
    background-color: rgba(173, 171, 171, 0.459);
    margin-bottom: 20px;
    border-radius: 5px;
    
}

#about_me{
    color: rgb(255, 139, 31);
    
}

#about_me_xtra{
    color: #2296b9;

}

.col-sm-12{
    padding: 15px;
}

#tech_skills_header{
    margin-bottom: 32px;
}

.category_heads{
    color: rgb(255, 139, 31);
    text-decoration: underline;
    text-decoration-color: #5bc0de;
}

.python_title{
    margin-bottom: 100px;
    color: #f5e837;
    text-decoration: underline;
}

.js_title{
    margin-bottom: 130px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.bs_title{
    margin-bottom: -15px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.vs_title{
    margin-bottom: -34px;
    color: rgb(255, 139, 31);
    text-decoration: underline;
}

.git_title{
    margin-top: 0px;
    margin-bottom: 161px;
    color: rgb(226, 226, 226);
    text-decoration: underline;
}

.mysql_title{
    margin-bottom: -10px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.sql_title{
    margin-top: 0px;
    margin-bottom: -34px;
    color: rgb(31, 173, 255);
    text-decoration: underline;
}

.carousel-control-prev-icon{
    background-color: #4591a8;
}


.carousel-control-next-icon{
    background-color: #4591a8;
}

#prof_xp_proj_head{
    margin-top: 50px;
    margin-bottom: 20px;
}

.card{
    background-color: #17a2b8;
}

.card-body{
    background-color: rgb(247, 245, 229);
    color: rgb(105, 166, 201);
}

.git_link_accordion{
    text-decoration: underline;
}

#btn1{
    background-color: rgb(247, 245, 229);
}

#btn2{
    background-color: rgb(247, 245, 229);
}

#btn3{
    background-color: rgb(247, 245, 229);
}


#code_logo{
    width: 75px;
}

#medic_symbol{
    width: 75px;
}

#edu_cert_head{
    margin-top: 30px;
    margin-bottom: 35px;
}

.nav{
    margin-top: 50px;
}

.text-muted{
    font-style: italic;
    font-size: small;
}

#foot_logo_1{
    width: 25px;
}

#foot_logo_2{
    width: 25px;
}

#foot_logo_3{
    width: 25px;
}

.foot_spans{
    color: rgb(255, 139, 31);
}

#gitlink{
    margin-top: 0px;
}

i {
    border: solid rgb(255, 139, 31);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }




/* body{

    background-image: url("https://data.whicdn.com/images/260255716/original.gif");

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUkOTodQ2AMHOFFL06_VJ9XFBUGlcHhO4Cw0na5Imhr3IGoMBwNw&s");

    background-size: cover;
    background-repeat: no-repeat;
} */
