body{
    background-color: rgb(247, 245, 229);
    /* background: rgb(255,131,63);
    background: linear-gradient(90deg, rgba(255,131,63,1) 1%, rgba(58,162,180,1) 35%, rgba(194,29,253,1) 100%);  */
}

#name_header{
    margin-left: 2.5rem;
}

.btn{
    background-color: rgb(255, 139, 31);
    color: rgb(255, 139, 31);
}

.name_span{
    color: rgb(255, 139, 31);

}

.info_span{
    color: #5bc0de;
}

.me1{
    width: 145px;
    margin-right: 20rem;
    margin-top: 2rem;

}

#tech_skills_header{
    margin-bottom: 32px;
}

.category_heads{
    color: rgb(255, 139, 31);
    text-decoration: underline;
    text-decoration-color: #5bc0de;
}

.python_title{
    margin-bottom: 100px;
    color: #f5e837;
    text-decoration: underline;
}

.js_title{
    margin-bottom: 130px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.bs_title{
    margin-bottom: -15px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.vs_title{
    margin-bottom: -34px;
    color: rgb(255, 139, 31);
    text-decoration: underline;
}

.git_title{
    margin-top: 0px;
    margin-bottom: 161px;
    color: rgb(226, 226, 226);
    text-decoration: underline;
}

.mysql_title{
    margin-bottom: -10px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.sql_title{
    margin-top: 0px;
    margin-bottom: -34px;
    color: rgb(31, 173, 255);
    text-decoration: underline;
}

.carousel-control-prev-icon{
    background-color: #4591a8;
}


.carousel-control-next-icon{
    background-color: #4591a8;
}

#prof_xp_proj_head{
    margin-top: 35px;
    margin-bottom: 20px;
}


.card-body{
    background-color: #17a2b8;

}

.card-title{
    color: rgb(243, 97, 12);

}

.card-subtitle{
    color: rgb(192, 192, 192);
}

.card-link{
    color: azure;
    text-decoration: underline;
    text-decoration-color: azure;
}

#code_logo{
    width: 75px;
}

#medic_symbol{
    width: 75px;
}

#edu_cert_head{
    margin-top: 30px;
    margin-bottom: 25px;
}






/* 
body{

    background-color: rgba(185, 58, 202, 0.747);

    background-image: url("https://data.whicdn.com/images/298310703/original.gif"); */
    /* OTHER BG IMGS */

    /* https://data.whicdn.com/images/260255716/original.gif */

    /* https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.xmple.com%2Fwallpaper%2Flinear-cyan-gradient-pink-7680x4320-c2-f65bbb-01f2f2-a-60-f-14.svg&imgrefurl=https%3A%2F%2Fwww.xmple.com%2Fwallpaper%2Flinear-cyan-gradient-pink--c2-f65bbb-01f2f2-a-60-f-14-image%2F&tbnid=BYgZeH2E8gSScM&vet=10CGwQMyiKAWoXChMImMOzsISU5wIVAAAAAB0AAAAAEAI..i&docid=uCVKPy1SJdP7mM&w=7680&h=4320&hl=en&safe=off&client=firefox-b-1-d&ved=0CGwQMyiKAWoXChMImMOzsISU5wIVAAAAAB0AAAAAEAI */

    /* https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2F4SgI90qdgYSxG%2Fsource.gif&imgrefurl=https%3A%2F%2Fgiphy.com%2Fgifs%2Fvaporwave-4SgI90qdgYSxG&docid=ywHD3iuM20n5GM&tbnid=ORoSpebrJhrqTM%3A&vet=1&w=490&h=276&itg=1&hl=en&safe=off&client=firefox-b-1-d&bih=767&biw=1536&ved=2ahUKEwjX1dj0g5TnAhVBFjQIHSf9CF8QxiAoBHoECAEQIw&iact=c&ictx=1 */

    /*  */


    /* background-size: cover;
    background-repeat: no-repeat;
} */
