<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="C:\Users\white\Desktop\Resume Docs\Resume Online\static\styles.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Josh H | Software Engineer</title>
 
    
</head>


<body>
    <img src="https://i.imgur.com/N9bOsXN.jpg" class="me1 img-thumbnail rounded-circle float-right img-fluid" alt="It's me!">
    <div class="jumbotron bg-info text-white jumbotron-fluid">
        <div class="container">
                
                <div class="col-12">
                    <h1 id="name_header" class="display-2"><span class="name_span">J</span>oshua <span class="name_span">H</span>ernandez</h1>
                    <p class="lead bg-light text-secondary text-center rounded">Fullerton, Orange County, CA, 92835  | <span class="info_span">Cell</span>: 909.497.4309  | <span class="info_span">Email</span>: whiteintheiris@gmail.com</p>
                </div>
            
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-3">    
                        <a class="btn btn-lg btn-outline-info text-white" role="button" aria-pressed="true" href="https://github.com/JHer117">GitHub</a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-lg btn-outline-info text-white" role="button" aria-pressed="true" href="https://www.linkedin.com/in/josh-hernandez-395305192/
                        ">LinkedIn</a>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="category_heads" id="tech_skills_header">Technical Skills</h2>
        </div>

        <div class="row justify-content-center">

            <div id="controls" class="carousel slide" data-ride="carousel" data-interval="3500">
                <div class="carousel-inner">
                  <div class="carousel-item active img-fluid">
                    <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" class="d-block w-10" alt="hmtl_logo">   
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://lh4.googleusercontent.com/proxy/hszaD1X5wGouV0uAWwWL0V-z6wP8XXNF7g3ML4BfcizBMvLhiQsEhKhfEfDnSLZZ8CZXfwBJ_JN2ISJn0nYfL2fi8sKDs4JvTJIhERFuxsMMNlv9DzM6R373VlSDrjbFVyke-rbnSh5PkHF-uko-ipo" class="d-block w-10" alt="css_logo">
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://i.pinimg.com/originals/4c/b7/5b/4cb75bba270525ab419c4ad4d27e6ebe.png" class="d-block w-10" alt="python_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="python_title">Python</h3>
                    </div>
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/javascript-20-555998.png" class="d-block w-10" alt="JavaScript_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="js_title">JavaScript</h3>
                    </div>
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://ourcodeworld.com/public-media/gallery/categorielogo-5713d24f9fa5f.png" class="d-block w-10" alt="jquery_logo">
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/bootstrap-7-1175254.png" class="d-block w-10" alt="bootstrap_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="bs_title">Bootstrap</h5>
                    </div>
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/flask-51-285137.png" class="d-block w-10" alt="flask_logo">
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://pngimg.com/uploads/mysql/mysql_PNG36.png" class="d-block w-10" alt="mysql_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="mysql_title">MySQL</h3>
                    </div>
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Sqlite-square-icon.svg/256px-Sqlite-square-icon.svg.png" class="d-block w-10" alt="sqlite_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="sql_title">SQLite</h3>
                    </div>
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://i.dlpng.com/static/png/5388873-github-logo-icon-of-glyph-style-available-in-svg-png-eps-ai-github-icon-png-256_256_preview.png" class="d-block w-10" alt="github_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="git_title">Git/GitHub</h3>
                    </div>
                  </div>
                  <div class="carousel-item img-fluid">
                    <img src="https://code.visualstudio.com/assets/favicon.ico" class="d-block w-10" alt="vscode_logo">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="vs_title">VSCode</h3>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#controls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#controls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

    </div>

    <h2 id="prof_xp_proj_head" class="category_heads text-center">Professional Experience and Projects</h2>
    
            <div class="card-group">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Band Underground</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current Functionality:</h6>
                        <p class="card-text">A social media website where users can post local, underground bands, that haven't reached the masses yet. Create an account, post/remove a band posting, update personal information.</p>
                        <a href="https://github.com/JHer117/band_underground" class="card-link">GitHub</a>
                    </div>
                </div>
                
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Show Stoppers</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Current Functionality:</h6>
                      <p class="card-text">A site geared toward tracking concerts or "gigs" attended and RSVP'd to. Allows for potential bragging rights within certain circles in showcasing concerts and shows attended.</p>
                      <a href="https://github.com/JHer117/Show_Stoppers" class="card-link">GitHub</a>
                    </div>
                </div>
            </div>
        


    <!-- <h3>Band Underground</h3>
    <a href="https://github.com/JHer117/band_underground">GitHub</a>
    <hr>
    <h5>Current Functionality:</h5>
    <p>A social media website where users can post local, underground bands, that haven't reached the masses yet. Create an account, post/remove a band posting, update personal information. </p>

    <h5>Currently Working On:</h5>
    <p>Integrating Bootstrap, JavaScript/AJAX functionality, adding the ability to like a post, adding band video/image/links to posts.</p>

    <h5>Future Goals:</h5>
    <p>Develop and morph site into a platform where musicians can find eachother and set up "jams" depending on preferred criteria established by the users. Fine tune users musical tastes and interests to better connect to other musicians locally or globally.</p> -->

    <!-- <hr>
    <h3>Show Stoppers</h3>
    <a href="https://github.com/JHer117/Show_Stoppers">GitHub</a>
    <hr>
    <h5>Current Functionality:</h5>
    <p>A site geared toward tracking concerts or "gigs" attended and RSVP'd to. Allows for potential bragging rights within certain circles in showcasing concerts and shows attended.</p>

    <h5>Currently Working On:</h5>
    <p>Integrating Bootstrap, JavaScript/AJAX functionality</p>

    <h5>Future Goals:</h5>
    <p>API integration - venues, bands/acts performing, dates, etc. Develop social media aspect to share gigs attended between users.</p> -->

    <hr>
    <h3>St. Joseph Hopsital, Orange, CA</h3>
    <h5>Patient Care Technician</h5>
    <p>A prominent hospital in the heart of Orange County, St Joseph’s allowed me to further my skills as an EMT as well as other transferable skills. I often precepted and trained new hires in procedures and job responsibilities. Working and communicating interdepartmentally is key in achieving goals, positive outcomes, and maximum efficiency when it comes to all aspects of working in a hospital. Here I honed these skills and often coordinated such tasks. Coworkers often approached me with their computer and application related problems knowing I could more often than not fix or had the answer they needed to help them.</p>

    <hr>
    <h2 class="category_heads">Education/Certifications</h2>
    <img src="" alt="coding_dojo_logo">
    <h3>Coding Dojo, Online Web Development</h3>
    <h5>Software Engineer</h5>
    <p>Web Development fundamentals – HTML, CSS, JavaScript/jQuery, Git/GitHub.</p> 
    <p>Python fundamentals – Python, Flask, MySQL, SQLite.</p> 
    
    <img src="" alt="medic_symbl">
    <h5>EMT-B License</h5>
    <h6>#E075510</h6>

    <h5>BLS Certification</h5>
    <h6>#CA03102</h6>


</body>
</html>