<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="C:\Users\white\Desktop\Resume Docs\Resume Online\staticstyles.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <title>Josh| Software Engineer</title>
 
    
</head>


<body>
    <div class="jumbotron bg-info text-white jumbotron-fluid">
        <div class="container">
            <div class="col-12">
                <h1 id="name_header">Joshua R Hernandez</h1>
                <p class="lead bg-light text-secondary text-center rounded-right">Fullerton, Orange County, CA, 92835  | Cell: 909.497.4309  | Email: whiteintheiris@gmail.com</p>
                
            </div>

            
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col">
                        
                        <a class="btn btn-outline-secondary text-white" role="button" aria-pressed="true" href="https://github.com/JHer117">GitHub</a>
                                            
                        <a class="btn btn-outline-secondary text-white" role="button" aria-pressed="true" href="https://www.linkedin.com/in/josh-hernandez-395305192/
                        ">LinkedIn</a>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h3>Technical Skills</h3>

    <ul>
        <li> <img src="" alt="hmtl_logo"> HTML</li>
        <li><img src="" alt="css_logo"> CSS</li>
        <li><img src="" alt="python_logo"> Python</li>
        <li><img src="" alt="js_logo"> JavaScript</li>
        <li><img src="" alt="jquery_logo"> jQuery</li>
        <li><img src="" alt="flask_logo"> Flask</li>
        <li><img src="" alt="mysql_logo"> MySQL</li>
        <li><img src="" alt="sqlite_logo"> SQLite</li>
        <li><img src="" alt="gh_logo"> Git/Github</li>
        <li><img src="" alt="bootstrap_logo"> Bootstrap</li>
        <li><img src="" alt="vscode_logo"> VSCode</li>
    </ul>

    <hr>
    <h2>Professional Experience and Projects</h2>
    <hr>

    <h3>Band Underground</h3>
    <a href="https://github.com/JHer117/band_underground">GitHub</a>
    <hr>
    <h5>Current Functionality:</h5>
    <p>A social media website where users can post local, underground bands, that haven't reached the masses yet. Create an account, post/remove a band posting, update personal information. </p>

    <h5>Currently Working On:</h5>
    <p>Integrating Bootstrap, JavaScript/AJAX functionality, adding the ability to like a post, adding band video/image/links to posts.</p>

    <h5>Future Goals:</h5>
    <p>Develop and morph site into a platform where musicians can find eachother and set up "jams" depending on preferred criteria established by the users. Fine tune users musical tastes and interests to better connect to other musicians locally or globally.</p>

    <hr>
    <h3>Show Stoppers</h3>
    <a href="https://github.com/JHer117/Show_Stoppers">GitHub</a>
    <hr>
    <h5>Current Functionality:</h5>
    <p>A site geared toward tracking concerts or "gigs" attended and RSVP'd to. Allows for potential bragging rights within certain circles in showcasing concerts and shows attended.</p>

    <h5>Currently Working On:</h5>
    <p>Integrating Bootstrap, JavaScript/AJAX functionality</p>

    <h5>Future Goals:</h5>
    <p>API integration - venues, bands/acts performing, dates, etc. Develop social media aspect to share gigs attended between users.</p>

    <hr>
    <h3>St. Joseph Hopsital, Orange, CA</h3>
    <h5>Patient Care Technician</h5>
    <p>A prominent hospital in the heart of Orange County, St Joseph’s allowed me to further my skills as an EMT as well as other transferable skills. I often precepted and trained new hires in procedures and job responsibilities. Working and communicating interdepartmentally is key in achieving goals, positive outcomes, and maximum efficiency when it comes to all aspects of working in a hospital. Here I honed these skills and often coordinated such tasks. Coworkers often approached me with their computer and application related problems knowing I could more often than not fix or had the answer they needed to help them.</p>

    <hr>
    <h2>Education/Certifications</h2>
    <img src="" alt="coding_dojo_logo">
    <h3>Coding Dojo, Online Web Development</h3>
    <h5>Software Engineer</h5>
    <p>Web Development fundamentals – HTML, CSS, JavaScript/jQuery, Git/GitHub.</p> 
    <p>Python fundamentals – Python, Flask, MySQL, SQLite.</p> 
    
    <img src="" alt="medic_symbl">
    <h5>EMT-B License</h5>
    <h6>#E075510</h6>

    <h5>BLS Certification</h5>
    <h6>#CA03102</h6>


</body>
</html>